__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
*.egg-info/
dist/
build/
.eggs/
*.egg
.pythonlibs/
node_modules/
static/temp.mmd
static/puppeteer.json
static/architecture.png
static/proposal.html
.uv/
