[project]
name = "repl-nix-workspace"
version = "0.1.0"
description = "Add your description here"
requires-python = ">=3.11"
dependencies = [
    "beautifulsoup4>=4.14.3",
    "flask>=3.1.2",
    "gunicorn>=25.1.0",
    "openai>=2.21.0",
    "pytelegrambotapi>=4.31.0",
    "requests>=2.32.5",
]
